# Ignorar archivos de configuración locales
.env
env.php
.vscode/
.idea/

# Ignorar archivos de sesiones
writable/session/*

# Ignorar archivos de caché
writable/cache/*

# Ignorar archivos de logs
writable/logs/*

# Ignorar archivos de pruebas
writable/tests/*

# Ignorar otros archivos temporales
writable/temp/*

# Ignorar archivos de configuración generados
writable/debugbar/*

# Ignorar archivos de configuración locales
app/Config/Database.php

# Ignorar archivos compilados
public/css/*.less
public/css/*.map
public/js/*.map

# Ignorar archivos de imágenes subidos
public/uploads/*

# Ignorar carpeta temporal
/tmp/**


# Ignorar archivos del IDE
*.swp
*~
.*.swp
.DS_Store
Thumbs.db
