/* ==========================================================================
   Login
   ========================================================================== */
.login {
  background-size: cover;
  background: red url(../img/login.jpg) no-repeat left center;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}
.login-col {
  background: #fff;
  height: 100%;
  position: relative;
  width: 480px;
}
.login-wrapper {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 40px 20px;
  position: relative;
}
.login-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-top: 20px;
  position: relative;
  width: 320px;
}
.login-logo {
  margin-bottom: 70px;
  animation: zoomIn 1s ease;
}
