/* ==========================================================================
   Login
   ========================================================================== */
.login {
  background: #cdc4ba url(../img/login.png) no-repeat right center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}
.login-col {
  position: relative;
  width: 480px;
}
@media only screen and (min-width: 320px) and (max-width: 575px) {
  .login-col {
    width: 100%;
  }
}
.login-wrapper {
  align-items: center;
  background-color: #fff;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 40px 20px;
  position: relative;
}
.login-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-top: 20px;
  position: relative;
  width: 320px;
}
.login-logo {
  margin-bottom: 2rem;
  animation: zoomIn 1s ease;
}
.btn-primary {
  background: #31395f !important;
  color: #fff;
}
