/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Cesar Gomez
   ========================================================================== */
:root {
  --azul: #064a76;
  --verde: #3dae2b;
  --naranja: #f26a3f;
  --gris: #d8d3cb;
  --negro: #2d2926;
}
:where(*) {
  border-width: 0px;
  border-style: solid;
  box-sizing: border-box;
  overflow-wrap: break-word;
}
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background: #d8d3cb url(../img/interlaced.png) repeat;
}
.layout {
  display: grid;
  grid-template-columns: 250px auto;
}
.layout-col.menu {
  background: #222 url(../img/fancy-cushion.png) repeat;
  background-size: 80%;
  height: 100vh;
  overflow-y: auto;
}
.layout-col.main {
  overflow: auto;
  height: 100vh;
}
.menu {
  display: flex;
  flex-direction: column;
}
.menu-top {
  border-bottom: 1px solid #575746;
  padding: 2rem 1rem;
  background: #111;
}
.menu-logo {
  display: block;
}
.menu-logo-img {
  display: inline-block;
  width: 100%;
}
.menu-options {
  margin: 0 0 2.5875rem 0;
}
.menu-link {
  align-items: center;
  background: transparent;
  border: 0;
  color: #fff;
  display: flex;
  width: 100%;
  flex: 1;
  font-size: 1.2rem;
  font-weight: 600;
  gap: 1rem;
  padding: 15px;
  text-decoration: none;
  transition: all 0.1s linear;
  animation: fadeIn 0.8s linear;
}
.menu-link:hover,
.menu-link.active {
  background: #000;
  border-radius: 10px;
  text-decoration: none;
}
.menu-link:hover svg,
.menu-link.active svg {
  color: var(--naranja);
}
.menu-link svg {
  display: block;
  color: #d8d3cb;
  --fa-animation-duration: 3s;
  --fa-animation-iteration-count: 1;
  --fa-animation-timing: ease-in-out;
  width: 24px;
  height: 24px;
  animation: fadeInLeft 1.8s ease-in-out;
}
.icon-container {
  width: 34px;
}
.detail-icon {
  color: var(--azul);
}
.section-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.section-table {
  padding: 15px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 12px;
}
.modal-header {
  background: var(--gris);
  color: #000;
  text-transform: uppercase;
}
.modal-body {
  background: #d8d3cb;
}
.modal-footer {
  background: #d8d3cb;
}
.modal .form-control {
  background: #c3beb7;
  border: #b5b0aa 1px solid;
}
.modal .form-select {
  background: #c3beb7;
  border: #b5b0aa 1px solid;
}
.table-linklaw thead {
  background: linear-gradient(to bottom, var(--azul), #0068a9);
}
.table-linklaw thead tr {
  border: 0;
}
.table-linklaw thead tr th {
  background: transparent;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
label.error {
  color: #c10d00;
  display: inline-block;
  font-size: 14px;
  padding: 0.3rem;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden,
[hidden] {
  display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}
/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
